body {
    background-image: url("/public/img/Shediac.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; /* Set text color to contrast with the background */
}