<link rel="stylesheet" href="/public/css/index.css">
<link rel="stylesheet" href="/public/css/style.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container card bg-dark text-white text-center mt-3 content-wrap">
    <h1 class="mt-4">Welcome to the mirror site for the Maritimes.</h1>
    <p class="lead">Your go-to source for Linux distributions in the Maritime provinces.</p>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <p class="card-text" style="font-size: 1.2em;">As a cybersecurity professional based in the Maritime provinces, I'm committed to contributing to the Linux community. Recognizing the scarcity of local mirrors for Linux distributions, I embarked on a project to address this need. My initiative offers mirrors for some of the most popular Linux distributions with more coming, aiming to enhance accessibility for enthusiasts and professionals alike in our region.</p>
                    <p class="card-text" style="font-size: 1.2em;">This endeavor began out of a personal passion and a desire to optimize underutilized resources. Despite the limitations of my current setup, which includes an upload capacity of 500 Mbps, I've dedicated this bandwidth to support the community. While this infrastructure may not cater to the demands of large enterprises, it is perfectly suited for individual users and small teams who value access to local, reliable Linux distribution mirrors.</p>
                    <p class="card-text" style="font-size: 1.2em;">I invite everyone to explore the mirrors available through this project. It's important to note that this initiative is fueled by passion and a commitment to giving back to the Linux community. As such, your understanding of the bandwidth constraints and the non-commercial nature of this service is appreciated. Whether for personal use or small-scale professional projects, feel free to leverage these resources as you see fit.</p>
                    <p class="card-text" style="font-size: 1.2em;">This project is a testament to the power of community and the impact of sharing resources for the common good. I look forward to your support and feedback as we continue to grow and improve this service together.</p>
                </div>
                <a href="https://github.com/Muxoid/acadielinux" class="btn btn-success" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-git" viewBox="0 0 16 16">
        <path d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.03 1.03 0 0 0 0-1.457"></path>
         </svg>
        Source code and Configs for peace of mind.
     </a>

            </div>
        </div>
    </div>

    <a href="mirror/" class="btn mb-4 btn-primary mt-3">Explore Mirrors</a>
</div>

<div class="container card bg-dark text-white mt-5 text-center mt-4 content-wrap">
        <h1 class="mb-4">Status Dashboard</h1>
        <div class="row">
            {{#each stats}}
            <div class="col-md-3 mb-3">
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title font-weight-bold">{{this.title}}: {{this.value}}</h4>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
</div>
