 <link rel="stylesheet" href="/public/css/footer.css">


<footer class="mt-5 bg-dark text-white text-center py-3 footer-bottom">
   
      <div class="row">
        <div class="col-lg-4">
          <h5>Location</h5>
          <p>Dieppe N-B,<br>Canada</p>
        </div>
        <div class="col-lg-4">
          <h5>To talk shop or if there are any issues.</h5>
          <p>Email: mirrors@muxoid.com</p>
        </div>
        <div class="col-lg-4">
          <p>&copy; Provided to you by:<br>Muxoid Computer Services</p>
        </div>
      </div>
   
</footer>